body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: rgb(27, 26, 26);
}

.project-area p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(17, 17, 17);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
}

#toggle-menu {
    background-color: rgb(32, 31, 31);
    height: 50px;
    width: 50px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    height: 45px;
    width: 45px;
}

.website-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-png {
    height: 75px;
    width: 150px;
}

.all-content {
    background-color: rgb(27, 26, 26);
    min-height: 750px;
    width: 100%;
    height: fit-content;
    flex: 1;
    transition: margin-left 0.1s ease;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-visible .all-content {
    margin-left: 350px; /* Set the width of the sidebar */
}

.project-area {
    display: flex;
    width: 80%;
    height: 80%;
}

.footer {
    height: 50px;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    display: none;
    background-color: rgb(97, 97, 97);
    z-index: 9;
    height: 100%;
    width: 350px;
    position: absolute; /* Remove this line */
    /* top: 100px; Remove this line */
    /* left: 0px; Remove this line */
    justify-content: start;
    flex-direction: column;
}

.container {
    position: relative;
    display: flex;
    height: 100%;
}

#sidebar-title{
    display: flex;
    font-size: 32px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(17, 17, 17);
    cursor: pointer;
}

.folder-icon {
    width: 50px;
    height: 50px;
}

#info-selector {
    display: none;
    background-color: rgb(17, 17, 17);
    z-index: 10;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    bottom: 20%;
    border: solid 2px black;
    border-radius: 7px;
}

.container-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 50px;
}

.form-button {
    width: 200px;
    height: 50px;
    background-color: rgb(209, 209, 209);
    border: 2px solid rgb(97, 97, 97);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    color: #333;
}

.form-button:hover {
    background-color: rgb(97, 97, 97);
    color: #fff;
}

.folder:hover {
    background-color: rgb(58, 57, 57);
}

.inputs {
    width: 70%;
    height: 50px;
    margin: 20px;
    padding: 10px;
    border: 2px solid #313131;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    background-color: rgb(56, 56, 56);
}

/* Add focus styles for better user experience */
.inputs:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Ensure it's on top of other elements */
}

#folders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    flex-direction: column;
}

.folder {
    width: 80%;
    height: 50px;
    background-color: rgb(97, 97, 97);
    text-align: left;
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
    justify-content: space-between;
}

.active {
    background-color: rgb(58, 57, 57);
}